<section class="container my-4">
    <div>
        <p class="projects py-2">Experiences</p>
        <p class="second-address py-2">Education</p>

        <div class="education p-4">
            <p><span class="degree">Bachelor Degree,</span>
                <span class="degree-details">Faculty of information technology Banha University, Banha - Egypt.</span>
            </p>

            <p>Oct 2016 - Jun 2020</p>
            <p><span class="Average">Grade Average :</span> Excellent</p>
            <p><span class="Average">Project Graduation :</span> Excellent</p>
        </div>
    </div>

    <div class="mt-3 mb-5">
        <p class="second-address py-2">Career</p>
        <div class="show-data">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3 w-25" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">alfa care</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Beetleware</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Unlimited Software</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Techunique</button>
                </div>
                <div class="empty-div"></div>
                <div class="tab-content job-box p-4 w-100" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <p class="job">Front End Developer at alfa care</p>
                        <p>Sep 2022 - Present</p>
                        <p class="job-explain">Developed multiple websites, company portfolio, Alfa care Dashboard and
                            user application</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p class="job">Angular Developer at Beetleware</p>
                        <p>Nov 2023 – April 2024</p>
                        <p class="job-explain">Developed multiple websites.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <p class="job">UI Developer at Unlimited Software.</p>
                        <p>April 2022 – May 2023</p>
                        <p class="job-explain">Developed multiple websites.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <p class="job">Front End Developer at Techunique</p>
                        <p>Sep 2021 – May 2022</p>
                        <p class="job-explain">Developed multiple websites and company portfolio.</p>
                    </div>
                </div>
            </div>    
        </div>

        <div class="small-screen">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">alfa care</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Beetleware</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-tec"
                        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Unlimited
                        Software</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tec-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                        type="button" role="tab" aria-controls="pills-tec" aria-selected="false">Techunique</button>
                </li>
            </ul>
            <div class="tab-content job-box p-4 w-100" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <p class="job">Front End Developer at alfa care</p>
                    <p>Sep 2022 - Present</p>
                    <p class="job-explain">Developed multiple websites, company portfolio, Alfa care Dashboard and
                        user application</p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <p class="job">Angular Developer at Beetleware</p>
                    <p>Nov 2023 – April 2024</p>
                    <p class="job-explain">Developed multiple websites.</p>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <p class="job">UI Developer at Unlimited Software.</p>
                    <p>April 2022 – May 2023</p>
                    <p class="job-explain">Developed multiple websites.</p>
                </div>
                <div class="tab-pane fade" id="pills-tec" role="tabpanel" aria-labelledby="pills-tec-tab">
                    <p class="job">Front End Developer at Techunique</p>
                    <p>Sep 2021 – May 2022</p>
                    <p class="job-explain">Developed multiple websites and company portfolio.</p>
                </div>
            </div>
        </div>

    </div>
</section> 