.education {
    background-color: #FF6B4A;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.degree {
    font-size: 24px;
    font-weight: 600;
}

.degree-details {
    font-size: 20px;
}

.Average {
    font-weight: 600;
}

.job {
    color: #3D2582;
    font-size: 24px;
    font-weight: 600;
}

.job-explain {
    color: #707070;
}

.job-box {
    background-color: #F1F1F1;
    border-radius: 20px;
}

.nav-pills .nav-link.active {
    background-color: #3D2582;
    border-radius: 16px;
    color: #fff !important
}

.empty-div {
    @extend .job-box;
    margin-inline-end: 20px;
    padding-block: 8.5% !important;
    padding-inline: 5px !important;
}

.nav-pills .nav-link {
    background-color: #F1F1F1;
    margin-block: 3px;
    margin-inline: 3px;
    border-radius: 16px;
    color: #707070;
}

.small-screen {
    display: none;
}

@media (max-width:1000px) {
    .small-screen {
        display: block;
    }

    .show-data {
        display: none;
    }
}