<section class="container my-3">
    <div class="row m-auto gy-3">
        <div class="col-md-6">
            <div class="w-75 about">
                <img src="./assets/images/about/e photo.svg" class="w-75" alt="photo">
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h6 class="name">Eman Magdy</h6>
                <h6 class="address">Front-End Developer</h6>
                <p class="about-me">
                    I’m Eman Magdy . Front-end develober with over 3 years of experience specializing in front end
                    development. Experienced with all stages of the development cycle for dynamic web projects. Having
                    knowledge including advanced HTML5, CSS, CSS3, SASS, JSON, JavaScript,Bootstrap , JQuery, Angular ,
                    Angular Material , React , Material UI and Tailwind CSS.
                </p>

                <div class="mt-2 d-flex flex-wrap">
                    <div class="me-3 d-flex">
                        <img src="./assets/images/about/exp.svg" class="me-2" alt="experience">
                        <p class="pt-3"> 3+ Years of experience</p>
                    </div>

                    <div class="d-flex">
                        <img src="./assets/images/about/pro.svg" class="me-2" alt="projects">
                        <p class="pt-3"> 10+ Projects Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>