<section class="bg-home">
    <div class="container d-flex justify-content-between flex-wrap py-4">
        <div class="d-flex align-items-center mt-3">
            <div>
                <p>Hi There,</p>
                <h1 class="address">Iam Eman Magdy <br>
                    Front-End Developer</h1>
                <p>I’m Eman Magdy . Front-end develober with over 3 years <br> of experience specializing in front end
                    development. </p>

                <div class="d-flex flex-wrap">
                    <a class="nav-link links-hover download-links me-3 mt-2" href="tel:01010783945">
                        <span class="download py-2 px-3">Let’s Talk</span>
                    </a>

                    <a class="nav-link links-hover download-links mt-2" href="https://github.com/emanmagdy294"
                        target="_blank">
                        <span class="download py-2 px-3">View My Projects</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="w-75">
                <img src="./assets/images/header/e-photo.svg" class="w-75" alt="logo">
            </div>
        </div>
    </div>
</section>