<div class="position-relative">
    <section class="container" style="margin-bottom: -50px; z-index: 9999 !important;">
        <div class="contact py-2 px-3">
            <div class="row m-auto d-flex justify-content-center align-items-center">
                <div class="col-md-2 mt-2">
                    <p class="project">Start A Project</p>
                </div>
                <div class="col-md-8 mt-2">
                    <p>Interested in working together? We should queue up a time to chat. I’ll buy the coffee.
                        Let’s do this!!</p>
                </div>
                <div class="col-md-2 mt-2">
                    <a class="view d-flex justify-content-center align-items-center" href="https://wa.me/+2001010783945"
                        target="_blank">
                        <div>
                            <img src="./assets/images/footer/whats.svg" class="eye mx-1" alt="Let’s Talk">
                        </div>
                        <span>Let’s Talk</span>
                    </a>
                </div>
            </div>
        </div>
    
    </section>
</div>

<div class="py-4 px-3 bg-footer">
    <div class="d-flex justify-content-between container align-items-center flex-wrap">
        <div class="d-flex flex-wrap pt-5">
            <p>Home</p>
            <p>Profile</p>
            <p>Experience</p>
            <p>Projects</p>
            <p>Contacts</p>
        </div>
        <div class="pt-5">
            <img src="./assets/images/footer/Group 55.svg" alt="contact">
            <img src="./assets/images/footer/Group 56.svg" alt="contact">
            <img src="./assets/images/footer/Group 57.svg" alt="contact">
        </div>
    </div>
</div>