.contact {
    background-color: #3D2582;
    border-radius: 71px;
    color: #fff;
}

.project {
    font-size: 24px;
    font-weight: bold;
}

.eye {
    width: 16px !important;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.view {
    border: solid 1px #fff;
    border-radius: 30px;
    padding-inline: 20px;
    padding-block: 10px;
}

.bg-footer {
    background-color: #FF6B4A;
    color: #fff;

    p {
        margin-right: 20px;
    }

    img {
        margin-right: 20px;
    }
}