<section class="bg-home">
    <div class="container py-3">
        <div class="row m-auto gy-2">
            <p class="address">
                Deliverables
            </p>
            <div class="col-md-6">
                <div class="d-flex">
                    <img src="./assets/images/main/code.svg" alt="code">
                    <div class="mx-2">
                        <p class="second-address">Clean Code</p>
                        <p class="explain"> Writing clean, understandable, and maintainable code .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <img src="./assets/images/main/responsive.svg" alt="responsive">
                    <div class="mx-2">
                        <p class="second-address">Responsive Design</p>
                        <p class="explain">create responsive web pages that adapt to different <br> screen sizes and devices
                            using CSS features best practices .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>