@import "../../../../assets/sass/variables";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/******************************** nav bar *************************************/
.navbar {
    background-color: $mainColor;
    color: #fff;
}

.iconsShow {
    display: none;
}

.link {
    text-align: left;
    color: black;
    text-decoration: none;
}

.logoText {
    font-size: 20px;
}

i {
    font-size: 25px;
}

.logo {
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 251px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    transition: .3s;
    text-decoration: none;
}

.checkBtn {
    font-size: 30px;
    color: black;
    float: left;
    margin-left: 10px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.close {
    display: none;
    margin-right: 90%;
    color: black;
}

.hide {
    display: none;
}

.download {
    border: solid 1px #fff;
    border-radius: 30px;
    cursor: pointer;
}

.download:hover {
    background-color: #fff;
    color: black;
}

/*************** END NAV ************************************/
.navbar a.active {
    color: $secondColor !important;
    border-bottom: 1px solid $secondColor;
}

/************************** @media ********************************/
@media (max-width:1000px) {
    label.logo {
        text-align: center;
        padding-top: 0px !important;
    }

    nav ul li a {
        font-size: 16px;
    }

}

@media (max-width:1000px) {
    .checkBtn {
        display: inline-block;
    }

    ul {
        position: fixed;
        width: 80%;
        height: 100vh;
        background-color: $mainColor;
        box-shadow: -5px 2px 54px -9px rgba(75, 75, 75, 0.1);
        top: 0px;
        right: -100%;
        transition: all .5s;
        z-index: 99999999999999999999999999;
    }

    .navbar a.active {
        color: #036b56 !important;
        border-bottom: none !important;
    }

    .hide {
        display: block;
    }

    nav ul li {
        display: block;
        line-height: 40px;
        padding: 5px;
    }

    li:hover {
        transition: .3s;
    }

    nav ul li a {
        font-size: 20px;
    }

    .openMenu {
        right: 0;
        margin-right: 0;
    }

    .close {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .close:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1050px) {
    nav ul li a {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 1050px) and (max-width: 4000px) {
    nav ul li a {
        font-size: 15px !important;
    }
}