<section class="container m-auto project py-3">
    <p class="projects py-3">My Projects</p>

    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of progects">
            <ng-template carouselSlide>
                <div class="project-img projects-name">
                    <img [src]="slide.src" alt="project" class="w-100">
                    <div class="caption text-white p-2">
                        <p class="project-name fw-bold">{{slide.address}}</p>
                        <p>{{slide.project}}</p>
                        <p class="project-name fw-bold py-1">Technologies</p>
                        <div class="d-flex flex-wrap">
                            <div class="technologies">
                                HTML5
                            </div>
                            <div class="technologies mx-1">
                                scss
                            </div>
                            <div class="technologies mx-1">
                                TS
                            </div>
                            <div class="technologies mt-1">
                                Angular material
                            </div>
                        </div>
                        <a class="view my-2 d-flex justify-content-center align-items-center" target="_blank" [href]=slide.link>
                            <div>
                                <img src="./assets/images/projects images/eye.svg" class="eye mx-1" alt="alfa project">
                            </div>
                            <span>View Project</span>
                        </a>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>

</section>